In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Assignment 1 Data.csv")
dataset.head()

,Default,checkingstatus1,duration,history,purpose,amount,savings,employ,status,others,residence,property,age,otherplans,housing,cards,job,liable,foreign
0,0,A11,6.0,A34,A43,1169.0,A65,A75,A93,A101,4,A121,67.0,A143,A152,2.0,A173,1.0,A201
1,1,A12,48.0,A32,A43,5951.0,A61,A73,A92,A101,2,A121,22.0,A143,A152,1.0,A173,1.0,A201
2,0,A14,12.0,A34,A46,2096.0,A61,A74,A93,A101,3,A121,49.0,A143,A152,1.0,A172,2.0,A201
3,0,A11,42.0,A32,A42,7882.0,A61,A74,A93,A103,4,A122,45.0,A143,A153,1.0,A173,2.0,A201
4,1,A11,24.0,A33,A40,4870.0,A61,A73,A93,A101,4,A124,53.0,A143,A153,2.0,A173,2.0,A201